<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div  style="display: none;" id="gg">123</div>
<button onclick="hj()" class="">Close &times;</button>
<button onclick="dj()" class="">Close &times;</button>
      

<script>
// function add2Cart() {
//   const x = document.getElementById("addCart");
//     for(var i = 1; i<= 5; i++){
//     var circle= "nbs"+i;
//     if (document.getElementById(circle).checked){    
//       x.innerHTML = circle;
//     }else{      
//     };
//   }   
//   }
  function hj() {
  const x = document.getElementById("gg");
      
      x.innerHTML = new Date().toLocaleString();

  
  }
  function dj() {
  const x = document.getElementById("gg");
      
      x.style.display="block";
  
  }
  
</script>
     
</body>
</html>
